 <!-- header section strats -->
 <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
    <header th:fragment="navegador" class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/">
            <span>
              Feane
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mx-auto ">
              <li class="nav-item"  sec:authorize="hasAnyAuthority('USUARIO')">
                <a class="nav-link" th:href="@{/}">Home </a>
              </li>
              <li class="nav-item"  sec:authorize="hasAnyAuthority('SUPERVISOR','ADMINISTRADOR', 'USUARIO')">
                <a class="nav-link" th:href="@{/cartmenu}">Menu</a>
              </li>
              <li class="nav-item" sec:authorize="hasAnyAuthority('USUARIO','SUPERVISOR','ADMINISTRADOR')">
                <a class="nav-link" th:href="@{/acerca}">Nosotros</a>
              </li>
              <li class="nav-item" sec:authorize="hasAnyAuthority('SUPERVISOR','ADMINISTRADOR')">
                <a class="nav-link" th:href="@{/categorias/indexPaginate}">Categorias </a>
              </li>
              <li class="nav-item" sec:authorize="hasAnyAuthority('SUPERVISOR','ADMINISTRADOR')">
                <a class="nav-link" th:href="@{/menu/indexPaginate}">Comida </a>
              </li>
              <li class="nav-item active" sec:authorize="hasAnyAuthority('ADMINISTRADOR')">
                <a class="nav-link" th:href="@{/usuarios/index}">Usuarios</a>
              </li>
            </ul>
        <div sec:authorize="isAnonymous()">
			<a class="btn btn-primary" th:href="@{/index}">Ingresar</a>&nbsp; 
			<a class="btn btn-primary" th:href="@{/signup}">Registrarse</a>&nbsp;
		</div>
		<div sec:authorize="isAuthenticated()">
			<span class="text-light">Bienvenido</span>&nbsp;<span class="text-light" sec:authentication="name"></span>&nbsp;
			<a class="btn btn-primary" th:href="@{/logout}">Salir</a>
		</div>
           
          </div>
        </nav>
      </div>
    </header>