<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

<title>Tabla de comida</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="">

  <title> Feane </title>

  <!-- bootstrap core css xd-->

  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" th:href="@{/https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css}" />
  <!-- nice select  -->
  <link rel="stylesheet" th:href="@{/https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css}" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
  <!-- font awesome style -->
  <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link th:href="@{/css/style.css}" rel="stylesheet" />
  <!-- responsive style -->
  <link th:href="@{css/responsive.css}" rel="stylesheet" />
<link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
</head>

  <body style="background-color:#FBF7E8">
<header th:insert="fragments/menu.html :: navegador" style="background-color:#222831"></header>
<div class="container"> 
<div><center>

<img th:src="@{/images/favicon.png}" width="60" height="60">
	<img th:src="@{/images/logo.png}" width="150" height="150">
	</div></center>
	<center><h1 class="text-dark"  style="background-color:#ffbe33">Lista de Comidas</h1></center>

<div class="form-group">
 <input type="text" class="form-control pull-right " style="width:20%"  id="search" placeholder="Escribe para buscar...">
</div>
<a class="btn btn-primary" th:href="@{/menu/create}" title="Crear nueva Oferta de Trabajo" role="button"><i class="fas fa-file" aria-hidden="true"></i> Nueva</a>            
<hr>
<div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" style="text-align:center" role='alert'></div>
    
 <table id="mytable" class="table table-striped table-hover table-bordered" style="background-color:#222831">
	<tr>
		<!-- <th class="text-white">Id</th>-->
		<th class="text-white">Categoria</th>
		<th class="text-white">Nombre</th>
		<th class="text-white" scope="col">Fecha</th>
		 <th class="text-white" scope="col">Estatus</th>
		<th class="text-white">Oferta</th>
		 <th class="text-white" scope="col">Operaciones</th> 
	</tr>

	<tr th:each="menu : ${menus}">
	    <td class="text-white" th:text="${menu.categoria.nombre}"></td>
		<td class="text-white" th:text="${menu.nombre}"></td>
		<td class="text-white" th:text="${menu.fecha}"></td>
		<td class="text-white" th:text="${menu.estatus}"></td>
		
		<td class="text-white" th:text="${menu.oferta==1 ? 'SI' : 'NO' }"></td>
		<td>
            <a th:href="@{/menu/edit/{id} (id=${menu.id}) }" class="btn btn-success btn-sm" role="button" title="Editar el registro."><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
            <a th:href="@{/menu/delete/{id} (id=${menu.id}) }" onclick="return confirm('¿Estas seguro?')" class="btn btn-success btn-sm" role="button" title="Eliminar el registro."><i class="fas fa-trash" aria-hidden="true"></i></a>
        </td>
		
</tr>
</table>
<nav th:if="${menus.totalPages > 0}"
						aria-label="Page navigation example">
						<ul class="pagination">
							<li class="page-item"><a
								th:href="@{/menu/indexPaginate(page=${menus.number - 1})}"
								class="page-link">Anterior</a></li>
							<li class="page-item"><a
								th:href="@{/menu/indexPaginate(page=${menus.number + 1})}"
								class="page-link">Siguiente</a></li>
						</ul>
					</nav>
					</div>
      <footer th:insert="fragments/footer.html :: pie-pagina" class="footer"></footer>
    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>   
    <script>
 // Write on keyup event of keyword input element
 $(document).ready(function(){
 $("#search").keyup(function(){
 _this = this;
 // Show only matching TR, hide rest of them
 $.each($("#mytable tbody tr"), function() {
 if($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1)
 $(this).hide();
 else
 $(this).show();
 });
 });
});
</script>  
  </body>
</html>